<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>

<body>
<h2>Bem vindo isso é um teste</h2>

<div class="container">

    <hr>

    <div class="card">
        
        <div class="card-header">
            <h2>Cadastro de Categoria</h2>  
        </div>
        
        <div class="card-body">
            <form method="post" action="/category/save">
                <input class="form-control form-item" type="text" name="title" placeholder="defina o titulo da categoria">
                <button type="submit" class="btn btn-success form-item">Cadastrar</button>
            </form>

        </div>
    </div>
</div>
</body>
<%- include ('../../partials/footer.ejs')%>